<h1>Games#index</h1>
<% @games.each do |game| %>
  <h2><%= game.title %></h2>
  <p><%= number_to_currency game.price %></p>
  <a href="/games/<%= game.id %>"></a>
  <%= link_to 'Details Shor Form', game %>
  <%= link_to 'Details Medi Form', game_path(game) %>
  <%= link_to 'Details Long Form', game_path(id: game.id) %>
<% end %>
